	*{

		margin:0;
		padding:0;
	}

	ul li{
		list-style-type:none;
	}
	table{margin:0;padding:0;}

    html,body{
        height: 100%;
        font-size:3.5vw;
				background-color: #fff;
    }

    .views .page-content{
		background-color:#f8f8f8!important;
	}

    #wrap{
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-flex-flow: column;
               flex-flow: column;
    }

		@media screen and (min-width: 320px) {
				html {
					font-size: 20px;
					font-size: 6.25vw;
				}
		}

		@media screen and (min-width: 360px) {
				html {
					font-size: 22.5px;
					font-size: 6.25vw;
				}
		}

		@media screen and (min-width: 375px) {
				html {
					font-size: 23.4375px;
					font-size: 6.25vw;
				}
		}

		@media screen and (min-width: 411px) {
				html {
				font-size: 25.875px;
				font-size: 6.25vw;
				}
		}

		@media screen and (min-width: 640px) {
				html {
					font-size: 40px;
					font-size: 6.25vw;
				}
		}

		@media screen and (min-width: 768px) {
				html {
					font-size: 48px;
					font-size: 6.25vw;
				}
		}

		@media screen and (min-width: 834px) {
    html {
				font-size: 52.125px;
				font-size: 6.25vw;
		    }
		}

		@media screen and (min-width: 1024px) {
				html {
					font-size: 64px;
				}
		}

		body{
			font-size:0.6rem;

		}

		.flexBoxSyle{
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: flex;
			display: -webkit-flex;
			display:-moz--flex;
			display:-ms-flex;

			-webkit-justify-content:flex-start;
			justify-content:flex-start;
			-moz-box-pack:flex-start;
			-webkit--moz-box-pack:flex-start;
			box-pack:flex-start;

		}

		.flexBoxSyle .sbox{
				-webkit-flex: 1;
				-ms-flex: 1;
				flex: 1;
				-webkit-box-flex: 1;
				-moz-box-flex: 1;
		}

		.flexBoxSyle .sbox2{
				-webkit-flex: 3;
				-ms-flex: 3;
				flex:3;
				-webkit-box-flex: 3;
				-moz-box-flex: 3;
		}

		.flexBoxSyle .sbox4{
				-webkit-flex: 4;
				-ms-flex: 4;
				flex:4;
				-webkit-box-flex: 4;
				-moz-box-flex: 4;
		}

		.flexBoxSyle .sbox5{
				-webkit-flex: 5;
				-ms-flex: 5;
				flex:5;
				-webkit-box-flex: 5;
				-moz-box-flex: 5;
		}

		#header,#header2{
				text-align: center;color: #fff;
				background-color: #d43c34;
				width: 100%;
		}
		#header h1,#header2 h1{
				font-size:0.8rem;
				height:2rem;
				line-height: 2rem;
				margin: 0em;
				color: #fff;
				font-weight: 400;
		}
		.flag_color{background-color: #fff4d5!important;}
		.banner_header{width:100%;height:auto;margin-top:-1px;}
		.app_main_color{background-color: #d43c34;}
		.app_main_color_gray{background-color: #ccc;}
		.app_main_color_font{color: #d43c34;}
		.sbtn{text-align:center;color:#fff;line-height: 1.8rem;width:95%;margin:0 auto;margin-top:1.5rem;border-radius: 5px;}

		.chenbao .banner{width:100%;height:auto;}
		.chenbao .tagLevel{border-left:0.3rem solid #d43c34;padding:0.3rem 0 0.3rem 0.3rem;margin-top:0.8rem;}
		.chenbao .top h1{text-align:center;font-size:0.65rem;}
		.chenbao .module{padding:1rem;border-bottom:1px solid #f3f3f3;}
		.chenbao .module.laster{border:none;}
		.chenbao .content{margin-top:0.8rem;}
		.chenbao ul.module li{padding:0.14rem 0;}
		.chenbao ul.module li:first-child{padding:0;}
		.chenbao ul.module li a{color:#000;text-decoration: underline;}

		.activebg{
			background-color:#d9d9d9!important;
		}
		.activebg2{
			background-color:#833234!important;
		}
		.activebg3{
			background-color:#b82922!important;
		}
    #header2{
    	display:none;
    }
    #main{
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        height:100px;
    }
    #footer{
        height: 30px; line-height: 30px;
        background-color: #81a9c3;
        width: 100%;
        text-align: center;
    }
    #footer h5{
        color: white;
    }
    .con{font-size: 28px; text-align: center;}
    .btn{width:80%;height:30px;background-color:green;color:#fff;margin:0 auto;display:block;margin-top:10px;}
   /* table tr{height:45px;}*/

    #footer_list{
	    height: 50px;
	    width: 100%;
	    position: relative;
	    background-color:#fff;
			border-top:1px solid #ebebeb;
	    color:#a5a6a6;
	    overflow:hidden;
	}
    #footer_list li{
	    float: left;
	    height: 60px;
	    width: 20%;
	    position: relative;
	   	text-align:center;

	}

#footer_list li.active{
	color:#963b3d;
}

#footer_list li i{
	display:block;
	margin:5px auto 0 auto;
	width:23px;
	height:23px;
	background-repeat:no-repeat;
	background-position:center center;
}
#footer_list li span{
	font-size:13px;
	line-height:13px;
}

#frameHeader{
	height:2rem;
	line-height: 2rem;
}

#frameHeader .back,#frameHeader .r a,#frameHeader .selectUser a{

	 display:inline-block;
	 width:1.8rem;
	 height:100%;
	 background-repeat: no-repeat;
	 background-position:center center;
	text-indent:-99999px;

}

#frameHeader .goback{
	/*
	display:inline-block;
	height:44px;
	width:44px;
	background-repeat:no-repeat;
	background-position:center center;
	color:#ffffff;
	text-indent:-99999px;
	background-color:rgba(0,0,0,0);
	*/
}

#frameHeader img{
	vertical-align: center;
}
#frameHeader span{
	color:#fff;
}
#frameHeader .confirmSelect span{margin-right:0.65rem;}
#frameHeader .r,#frameHeader .conaddMange,#frameHeader .selectUser,#frameHeader .confirmSelect{text-align: right;display: none;}
#frameHeader a{color:#fff;}
#frameHeader .confirmAdd{text-align:center;display: none;}
#frameHeader .conaddMange a{color:#fff;margin-right:1rem;}
#frameHeader .confirmAdd i{font-style:normal}

#frameHeader2{
	background-color:#f5f5f5;
	color:#252525;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding:15px 0;
	line-height:25px;
	border-bottom:1px  solid #F3F3F3;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	z-index:9999;
}

#frameHeader3{
	background-color:#f5f5f5;
	color:#252525;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding:15px 0;
	line-height:25px;
	border-bottom:1px  solid #F3F3F3;
}
#frameHeader3 .name{
	width:50%;
	padding-left:15px;
}
#frameHeader3 .backdiv{
	width:50%;
	text-align:right;
	padding-right:15px;
}
#frameHeader3 .backdiv a{
	display:inline-block;
	width:25px;
	height:25px;
	background-image:url('data:image/svg+xml;charset=utf-8,<svg t="1500452966030" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1571" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25"><path d="M512.511653 719.048613 160.323429 337.01464 192.386682 304.951387 512.511653 654.239562 831.953056 304.951387 863.675548 336.673879Z" p-id="1572" fill="#252525"></path></svg>');
	background-repeat:no-repeat;
	background-position:center center;
	vertical-align:top;
}


#frameHeader2 .name{
	width:35%;
	padding-left:15px;
}
#frameHeader2 .backdiv{
	width:35%;
	text-align:right;
	padding-right:15px;
}
#frameHeader2 .total{
	width:30%;
	text-align:center;
}


#frameHeader2 .backdiv a{
display:inline-block;
width:25px;
height:25px;
background-image:url('data:image/svg+xml;charset=utf-8,<svg t="1500452966030" class="icon" style="" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1571" xmlns:xlink="http://www.w3.org/1999/xlink" width="25" height="25"><path d="M512.511653 719.048613 160.323429 337.01464 192.386682 304.951387 512.511653 654.239562 831.953056 304.951387 863.675548 336.673879Z" p-id="1572" fill="#252525"></path></svg>');
background-repeat:no-repeat;
background-position:center center;
vertical-align:top;
background-color:rgba(0,0,0,0);
}



.color_zh{
	color:#963b3d;
}

.color_gray{
	color:#DCDCDD;
}
.color_font{

	color:#9F9FA0;
}

.color_border{

	border-bottom:1px solid #DCDCDD;

}


.addMore{
  		display:inline-block;
  		position:fixed;
  		height:44px;
  		width:44px;
  		right:0;
  		top:0;
  		text-align:center;
  		background-position:center center;
  		background-repeat:no-repeat;
}

.listContro{
  		position:absolute;
  		top:44px;
  		right:15px;
  		background-color:rgba(150,59,61,0.7);
  		box-shadow: 2px 2px 2px #963b3d;
  		display:none;
}
.listContro li{

    		line-height:18px;
    		width:120px;
    		padding:18px 0;
    		text-indent:20px;

}
.listContro a{

    		font-size:16px;
    		color:#ffffff;
    		text-decoration:none;
    		display:block;
}

._block{
    		display:block;
}

.bottomBox{
	text-align:center;
	height:2rem;
	line-height:2rem;
	display:none;
	border-top:1px solid #e6e6e6;
}
